body {
	/*background-color: rgb(39, 147, 217);*/
	background-color: #5682A3;
	color: #fff;
	margin-top: 0px;
	width: 300px;
}

#body {
	margin: 0 8px 8px 8px;
}

p, h1, h2, h3, h4, span {
	font-family: "Open Sans";
}

#title {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

#telegramLogo {
	margin: -1px 4px 0 0;
}

#channelGroup {
	margin-top: 10px;
}

#channelHeader {
	font-size: 1.1rem;
	margin-bottom: 4px;
}

.channel {
	margin-bottom: 0px;
	margin-left: 5px;
	line-height: 1.4;
	display: inline;
}

.x {
	margin: 4px 4px 0 0;
}

#channel {
	display: inline;
}

.channelListItem {
	display: flex;
	justify-content: space-between;
}

.channelListItem:hover {
	background-color: rgba(255,255,255,0.15);
}

#channelName {
	width: 100%;
}